html {
    background-color: steelblue;
    font-family: sans-serif;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

#nav-desktop {
    display: all;
}
#nav-mobil {
    display: none;
}

nav {
    margin: auto;
    left: 50%;
    position: sticky;
}

.navlink{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 0.5rem;
    float: left;
    border-style: solid;
    border-radius: 2px;
    border-color: beige;
}
.navlink:hover {
    background-color: darkorange;
}

#nav-mobil label, #hamburger { display: none; }

@media screen and (min-width: 769px){
    #nav-mobil {
        display: none;
    }
    #nav-desktop{
        display:block
    }
    
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    #nav-desktop {
        display: none;
    }
    #nav-mobil {
        display: block;
    }
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #nav-mobil label { 
      display: inline-block; 
      color: white;
      background: darkorange;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }

    #hamitems a:hover { background: darkorange; }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #nav-mobil input:checked ~ #hamitems { display: block; }
  }


.active{
    background-color: darkorange;
}

.center {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
}

.box {
    margin-top: 2rem;
    border: solid 2px beige;
}
.box2 {
    border: solid 2px beige;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    box-align: center;
    height: auto;
    width: 50%;
}

h1{
    position: static;
    text-align: center;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}

.description{
    text-align: center;
}

#register-box {
    height: auto;
}

.button {
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    background-color: orange;
    color: black;
}
#alter {
    padding-right: 3rem;
}

